@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: "kidzone";
    src: url(Kidzone-2qVv.ttf);
}

@font-face {
    font-family: "comicsans";
    src: url(COMIC.TTF);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('background-image.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.header{
    position: relative;
    font-family: "kidzone";
    font-size: 150px;
    right: 0%;
    top: 0%;

}

.selectsong{
    font-family: "comicsans";
}

.menu, #game-container, #level-chooser-container, #end-screen-container {
    text-align: center;
}

.hidden {
    display: none;
}

.menu-button, .navigation-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #a1c134;
    color: white;
    transition: background 0.3s, transform 0.3s;
    font-family: "comicsans";
}

.menu-button:hover, .navigation-button:hover {
    background: #d3ff44;
    transform: scale(1.05);
}

#game-container {
    position: relative;
    width: 500px;
    height: 600px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-out;
    z-index: -1;
}

.track {
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfect-arrow {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 520px;
    opacity: 0.5;
}

.note {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -80px;
    animation: fadeIn 0.3s ease-out;
}

.pulse {
    animation: pulse 0.3s ease-in-out;
}

#dinosaur { /*puvodne mel dole tancit dinosaurus ale pak jsem ho zmenil na capybaru ale nechtel jsem vsechno menit takze capybara je dinosaurus*/
    position: fixed; 
    bottom: 25px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 150px;
    transition: transform 0.1s;
}

.egg-container {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    text-align: center;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    z-index: 5;
}

@keyframes slideDown {
    to {
        top: 20%;
    }
}

@keyframes slideUp {
    to {
        top: -100%;
    }
}

.egg-container img {
    width: 500px; 
    height: auto; 
}

.slide-down {
    top: 0%;
}

#score {
    margin-top: 20px;
    font-size: 24px;
    font-family: "comicsans";
    font-weight: bold;
}

#exit-indicator {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "comicsans";
    opacity: 50%;
}

#made-by{
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    font-family: "comicsans";
    opacity: 40%;
}

#exit-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 0px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #ff5722;
    opacity: 0;
    color: white;
    transition: background 0.3s, transform 0.3s;
}

#exit-button:hover {
    background: #e64a19;
    transform: scale(1.05);
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdown-img {
    width: 260px;
    height: 260px;
    animation: scaleUp 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.countdown-img.visible {
    visibility: visible;
    opacity: 1;
}